.pageCnt {
  padding: 1rem 2.5rem;

  display: flex;
}

.pageCnt .filters {
  height: max-content;
  padding: 0.8rem;
  border: 1px solid grey;

  display: flex;
  flex-direction: column;
}

.filters label {
  cursor: pointer;
}

.pageCnt .allTasks {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.allTasks .pagination {
  width: 200px;

  display: flex;
  justify-content: space-around;
}

/* Responsive design */
@media screen and (max-width: 550px) {
  .pageCnt {
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
  }

  .pageCnt .filters {
    flex-direction: row;
    gap: 60px;
  }

  .pageCnt .allTasks {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .pageCnt {
    gap: 1.5rem;
  }
}
